body {
    font-family:Helvetica;
    font-size:1.5em;
    margin:0;
  }

h1 {
    background-color: black;
    text-align: center;
    color: white;
    padding:0.5em;
    margin:0;
  }

  /* nav */

  nav ul {
    background-color:white;
    list-style:none;
    MARGIN: 0;
    padding:0;
    display:flex;
    justify-content: center;
    /*flex-direction:column*/
  }

  nav ul li {
    background-color:maroon;
    margin:0.5em;
    padding:0.25em 0.5em;

  }

  nav ul li a {
    text-align: center;
    font-display: none;
    font-family:'Helvetica';
    text-decoration: none;
    color:#fff;
  }

  /* body */

  p{
    font-size: 1em;
  }
