html{
  overflow: scroll;
}

body {
    font-size:1em;
    margin:0;
  }

header{
background-color: red;
}

h1 {
    font-family:Helvetica;
    font-size: 2em;
    text-align: center;
    color: red;
    padding:0.5em;
    margin:0;
  }

.logo {
  padding-left: 35%;
}

a:hover{
  opacity: 0.7;
}
a img{
    width: 30%;
}
  /* nav */

  nav ul {
    background-color:white;
    list-style:none;
    MARGIN: 0;
    padding:0;
    font-family:Helvetica;
    font-size: 1em;
    display:flex;
    justify-content: center;
    /*flex-direction:column*/
  }

  nav ul li {
    border: 2px red solid;
    border-radius: 1em;
    margin:0.5em;
    padding:0.25em 0.5em;

  }

  nav ul li a {
    font-weight: bold;
    text-align: center;
    font-display: none;
    font-family:'Helvetica';
    text-decoration: none;
    color:red;
  }



  /* body */

  p{
    font-size: 1em;
  }

  img{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

  }

  main{
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
  }

  article{
    max-width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
  table{
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    text-align: center;
    border: 2px solid red;
    margin-top:  2em;
    margin-bottom: 2em;
  }

  th{
    margin-right: 1em;
    font-size: 1em;
  }

  td img{
    max-width: 90%;
  }

  footer{
    min-height: 10%;
    width: 100%;
    float: right;
    background-color: red;

  }

  footer a {
    text-align: center;
    font-display: none;
    font-family:'Helvetica';
    text-decoration: none;
    color: white;
    margin-left: 2em;
  }

  .fa {
    border-radius: 50%;
    float: right;
    padding: 1em;
    font-size: 5em;
    width: 1em;
    text-align: center;
    text-decoration: none;
    margin: 1em 1em;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: white;
  color: red;
}
